body {
	font-family: 'Droid Serif', serif;
	font-size: 16px;
	background: #E0EBF5;
	color: #333;
}

a, a:active, a:visited, a:hover {
	color: #000099;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

p {
	line-height: 24px;
}

#container, #footer {
	background: #FFF;
	border: 1px solid #AAA;
	border-top: none;
	border-bottom: none;
	margin: 0 auto;
	max-width: 640px;
	padding: 20px;
}
	#footer {
		border-top: 1px solid #AAA;
		font-size: 12px;
		padding: 10px 20px;
	}

ul li {
	list-style: circle;
}

h1 {
	border-bottom: 1px solid #AAA;
	margin: 0 0 20px;
	padding: 0 0 10px;
	font-size: 30px;
}
h1.title {
	display: none;
}

h2 {
	font-size: 20px;
	border-bottom: 1px solid #AAA;
	padding: 0 0 5px;
	margin: 20px 0 10px;
}

code, pre, .code {
	font-family: "Droid Sans Mono", monospace;
	font-size: 14px;
}
code, pre {
	background: #EAEAEA;
	border: 1px solid #CCC;
}
pre {
	padding: 5px;
	margin: 5px;
}

img.block {
	display: block;
	margin: 0 auto;
}

#contents table.paging {
	margin: 20px 0 0;
	border-top: 1px solid #AAA;
	width: 100%;
}
#contents table.paging td {
	width: 33%;
	text-align: center;
	padding: 10px 0 0;
	border: none;
}
	#contents table.paging td.prev {
		text-align: left;
	}
	#contents table.paging td.next {
		text-align: right;
	}


#toc ol {
	margin: 0;
	padding: 5px 20px;
}
#toc li {
	padding: 0;
	margin: 5px 0;
}
#toc li li {
	list-style: circle;
}

#contents table {
	border-collapse: collapse;
	margin: 20px auto;
}
	#contents tr td:first-child {
		text-align: center;
	}
	#contents td {
		border: 1px solid #CCC;
		padding: 5px;
	}