<p class="post-date">
  {{ post.date | date:'%b %d %Y' | replace:'>0','>' }}
</p>


<h2 class="post-title">
    {% if detail %}
      {{ post.title }}
    {% else %}
      <a href="{{ post.url }}">{{ post.title }}</a>
    {% endif %}
  </h2>
  <div class="entry-contents">
    {% if detail %}
      {{ content }}
    {% else %}
      {{ post.content }}
    {% endif %}
  </div>

  <div class="entry-footer">
    <div id="disqus_thread"></div>
    <a class="entry-comments" href="{{ post.url }}#disqus_thread">0</a>
   <!-- p>
      {% unless post.categories == empty %}
      Filed in
      {{ post.categories | array_to_sentence_string | capitalize }}
      {% endunless %}
      {% unless post.tags == empty %}
        and tagged
        {{ post.tags | array_to_sentence_string }}
      {% endunless %}
    </p -->
  </div>
