<!doctype html>
<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="description" content="{{ site.description }}">
        <title>
            {% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}
        </title>
        {% if site.feed %}
        <link
            rel="alternate"
            type="application/atom+xml"
            title="Recent Entries"
            href="{{ site.feed }}"
        >
        {% endif %}
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body class="layout-simple">
        <header>{% include _header.html %}</header>
        <main>
            <section>{{ content }}</section>
        </main>
        <aside>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/recipes/">All Recipes</a></li>
                    <li><a href="/about/">About</a></li>
                    <li><a href="/now-reading/">Now Reading</a></li>
                </ul>
            </nav>
        </aside>
        <footer>{% include _footer.html %}</footer>
    </body>
</html>
